* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  background-color: none;
  flex-direction: column;
}
div.main-header {
  height: 90px;
  width: 100%;
  margin-top: 25px;
  position: relative;
}
div.header-content {
  height: 70px;
  width: 20%;
  top: 10%;
  left: 39%;
  position: absolute;
  border: solid 2px;
}
div.main-header img {
  margin-top: 65px;
  width: 5%;
}
header.header-info h1 {
  padding-top: 16px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
header.header-info a {
  text-decoration: none;
  color: black;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
aside.about-us-header {
  height: 50px;
  width: 15%;
  float: right;
  margin-top: 4%;
}
aside.about-us-header li {
  float: left;
  padding: 15px;
}
aside.about-us-header ul {
  list-style: none;
}
aside.about-us-header a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
div.picture-content {
  height: 600px;
  flex:1;
}
div.picture-content img {
  height: 100%;
  width: 100%;
}
div.product-content {
  height: 800px;
  flex: 1;
  margin-top: 30px;
}
div.product-content h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
div.main-navigation {
  height: 80px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  border-top: solid thin;
  border-bottom: solid thin;
}
div.navigation-tool-bar {
  height: 50px;
  width: 70%;
  left: 15%;
  margin-top: 15px;
  position: absolute;
}
div.navigation-tool-bar ul {
  list-style: none;
}
div.navigation-tool-bar li {
  float: left;
}
div.navigation-tool-bar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: block;
  padding: 16px;
  text-align: center;
  margin-left: 100px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

div.main-nav-bar h1 {
  text-align: center;
  font-size: 20px;
}
aside.bottom-left {
  width: 29%;
  height: 90%;
  float: left;
}
aside.bottom-left h1 {
  margin-top: 50px;
}
div.bottom-middle {
  width: 29%;
  height: 68%;
  left: 37.4%;
  position: absolute;
}
aside.bottom-right {
  width: 29%;
  height: 90%;
  float: right;
}
aside.bottom-left h1 {
  margin-top: 50px;
  font-size: 30px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
aside.bottom-left img {
  height: 60%;
  width: 100%;
  border-radius: 20px;
}
div.bottom-middle h1 {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
div.bottom-middle img {
  height: 96%;
  width: 90%;
  border-radius: 20px;
}
aside.bottom-right h1 {
  margin-top: 50px;
  font-size: 30px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
aside.bottom-right img {
  height: 60%;
  width: 100%;
  border-radius: 20px;
}
div.main-footer {
  height: 100px;
  width: 100%;
  position: relative;
  border-top: solid thin;
}
div.footer-content {
  height: 70%;
  width: 70%;
  left: 5%;
  position: absolute;
  margin-top: 15px;
}
footer.footer-info p {
  padding: none;
  font-size: 18px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}

/*BREAD CRUMB*/
aside.login-forum-breadcrumb {
  width: 100%;
}
aside.login-forum-breadcrumb ul {
  list-style: none;
}
aside.login-forum-breadcrumb li {
  float: left;
}
aside.login-forum-breadcrumb li a {
  margin-top: 5px;
}

li.home-tag a {
  color: gray;
  font-style: italic;
  text-decoration: underline;
}

li.account-tag a {
  margin-left: 8px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
